// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-info{
  color:#fff;
}
.channel-avatar{
  overflow: hidden;
  width:100px;
  height:100px;
  position:relative;
  cursor: pointer;
  border:1px solid rgba(0,0,0,0.125);
  .channel-avatar-overlay {
    display:none;
  }

    &:hover{
      .channel-avatar-overlay{
        position:absolute;
        height:100%;
        width:100%;
        background-color: rgba(0,0,0,0.4);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }
}
